@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}


::-webkit-scrollbar {
  width: 0.3rem;
  background: #ffffff;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #46c6ed;
  border-radius: 1rem;
}

.scrollbutton{
  z-index: 200;
}